

/*
.main {
    background-color: rgb(185, 253, 250);
}
*/
.recipe-h1 {
    color: red;
    background-color: lightgray;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 48px;
    margin: 5px;
    padding: 10px;
}

.recipes-div{
    text-align: center;
    margin-top: 20px;
}

.recipe-h2 {
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
    display: inline-block;
    
}

.recipe-links, a {
    color: orangered;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 800;
    padding: 10px;
    display: inline-block;
}

.ordered {
    font-style: italic;
    font-weight: 700;
}

.list {
    color: blueviolet;
}

.unordered {
    font-style: oblique;
    font-weight: bold;
    color: rgb(21, 53, 2);
}

.beef, .chicken, .samosas {
    background-color: rgb(185, 253, 250);
    margin: 5px 20px 20px 20px;
    width: 300px;
    height: 300px;

}

